/* Common CSS */

@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url('/fonts/P22MackinacPro-Book_25.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'CoFo Sans VF';
  src: url('CoFoSans-Regular.eot');
  src: local('CoFo Sans'), local('CoFoSans-Regular'),
      url('CoFoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('CoFoSans-Regular.woff2') format('woff2'),
      url('CoFoSans-Regular.woff') format('woff'),
      url('CoFoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'CoFo Sans VF';
  src: url('CoFoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.home_rowheadings_quote-span {
    font-weight: 400;
    font-style: italic;
  }
  
  .user-profile {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    width: 100%;
    background-color: var(--main_darker);
    padding: var(--space-md);
    border-radius: var(--radius-sm);
  }
  
  .user-profile_image {
    height: 214px;
    object-fit: cover;
    border-radius: var(--radius-xs);
  }
  
  .user-profile_content {
    display: flex;
    flex-direction: column;
  }
  
  .user-profile_title {
    text-align: center;
    line-height: 26px;
    padding-bottom: 30px;
  }
  
  .user-profile_button {
    color: var(--main_brown) !important;
    margin-bottom: 32px;
    padding: 0 33px;
    background-color: var(--main_cream) !important;
    width: 100%;
    height: 52px;
    border-radius: 26px !important;
    border: 1px solid var(--main_cream);
  }
  
  .footer_address {
    line-height: 22px;
  }
  
  .header_contact_icon {
    height: 16px;
    width: 16px;
  }
  
  .footer_link {
    color: var(--main_cream) !important;
  }
  
  /* Page CSS */
  
  .home {
    width: 100%;
    background-color: var(--main_cream);
    overflow: hidden;
  }
  
  .columndonate {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  
  @media only screen and (max-width: 1050px) {
    .columndonate {
      gap: 75px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .columndonate {
      gap: 50px;
    }
  }
  
  .rowlayerone_one {
    height: 540px;
    padding: 50px 0;
    background-color: var(--college_maroon);
    background-image: url(../public/images/img_frame_48095758.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media only screen and (max-width: 1050px) {
    .rowlayerone_one {
      height: auto;
      padding: var(--space-md) 0;
    }
  }
  
  .columnlayerone {
    display: flex;
    flex-direction: column;
    gap: 106px;
    margin-bottom: 140px;
  }
  
  @media only screen and (max-width: 1050px) {
    .columnlayerone {
      gap: 79px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .columnlayerone {
      gap: 53px;
    }
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    padding: 0 60px;
  }
  
  @media only screen and (max-width: 1050px) {
    .header {
      margin: 0;
      padding: 0 20px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .header {
      flex-direction: column;
      padding:0 20px;
    }
  }
  
  .header_logo {
    height: 32px;
    width: 16%;
    object-fit: contain;
  }
  
  @media only screen and (max-width: 550px) {
    .header_logo {
      width: 100%;
    }
  }
  
  .navigation-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xl);
    /* width: 24%; */
  }
  
  @media only screen and (max-width: 550px) {
    .navigation-row {
      display:none;
      padding: 0 var(--space-md);
    }
  }
  
  .header_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
    flex: 1;
  }
  
  .dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-select {
    appearance: none;
    background-color: #953a57;
    color: var(--main_cream);
    font-family: 'CoFo Sans VF';
    font-size: 16px;
    padding: 0 12px;
    width: 20%;
    height: 24px;
    border: none;
    border-radius: 0;
}

.dropdown-select::-ms-expand {
    display: none;
}

.dropdown-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    color: white;
    background: url('public/images/img_layer_1.svg') no-repeat center;
    background-size: 24px 24px;
    pointer-events: none;
}

  .header_language-dropdown {
    color: var(--main_cream);
    font-family: CoFo Sans VF;
    font-size: 16px;
    padding: 0 12px;
    width: 70px;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .home_rowheadings {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    padding: 0 56px;
  }
  
  @media only screen and (max-width: 1050px) {
    .home_rowheadings {
      padding: 0 var(--space-md);
    }
  }
  
  .home_rowheadings_quote {
    color: var(--main_cream) !important;
    text-align: center;
    width: 531px;
    line-height: 60px;
  }
  
  @media only screen and (max-width: 1050px) {
    .home_rowheadings_quote {
      width: 100%;
    }
  }

  .home-1 {
    padding: 0 138px;
    gap: 18px;
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    max-width:1440px;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 1050px) {
    .home-1 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 0 var(--space-md);
    }
  }
  
  @media only screen and (max-width: 768px) {
    .home-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  
  .column {
    padding: 88px 0;
    background-color: var(--experience_yellow);
  }
  
  @media only screen and (max-width: 1050px) {
    .column {
      padding: 80px 0;
    }
  }
  
  .faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 76px;
  }
  
  @media only screen and (max-width: 1050px) {
    .faq-section {
      gap: 57px;
      padding: 0 var(--space-md);
    }
  }
  
  @media only screen and (max-width: 550px) {
    .faq-section {
      gap: 38px;
    }
  }
  
  .faq-section_headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    width: 42%;
  }
  
  @media only screen and (max-width: 1050px) {
    .faq-section_headings {
      width: 100%;
    }
  }
  
  .faq-section_description {
    color: var(--main_brown) !important;
    align-self: stretch;
    line-height: 22px;
    text-align: center;

  }

  
  .faq-section_list {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }
  
  .tax-benefits-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 25px;
    padding-bottom:40px;
  }
  
  @media only screen and (max-width: 1050px) {
    .tax-benefits-section {
      gap: 6px;
    }
  }
  
  .faq-section_question {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--space-md);
    position: relative;
    cursor: pointer;
    padding-right: 40px;
}

@media only screen and (max-width: 550px) {
    .faq-section_question {
        padding-right: 30px; 
    }
}
  
.faq-section_question {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: var(--space-md);
  cursor: pointer;
  padding: 10px 0;
}

@media only screen and (max-width: 550px) {
  .faq-section_question {
      align-items: flex-start;
  }
}

  details[open] .faq-section_question::before {
    background-image: url(../public/images/img_plus.svg);
  }
  
  .faq-section_question-text {
    align-self: start;
  }
  
  .faq-icon {
    width: 20px;
    height: 20px;
  }

  .faq-section_answer {
    display: flex;
    margin-top: 20px;
  }
  
  .faq-section_answer-text {
    color: var(--main_brown) !important;
    width: 85%;
    line-height: 22px;
  }
  
  .line-6 {
    background-color: var(--main_brown);
    width: 1160px;
    height: 1px;
  }
  
  footer {
    display: flex;
    padding:0 138px;
    flex-direction: column;
    gap: 80px;
    background-color: var(--main_brown);
  }
  
  @media only screen and (max-width: 1050px) {
    footer {
      gap: 60px;
      padding: 0 20px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    footer {
      gap: 40px;
      padding:0 20px;
    }
  }
  
  .footer_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
    margin-top: 54px;
    padding-bottom: 54px;
  }
  
  @media only screen and (max-width: 550px) {
    .footer_column {
      gap: 27px;
    }
  }
  
  .footer_column--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 60px;
  }
  
  @media only screen and (max-width: 550px) {
    .footer_column--main {
      gap: var(--space-xl);
    }
  }
  
  .footer_logo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 56px;
  }
  
  @media only screen and (max-width: 1050px) {
    .footer_logo-column {
      padding: 0 var(--space-md);
    }
  }
  
  .footer_logo {
    height: 32px;
    width: 218px;
    object-fit: contain;
  }
  
  .footer_divider {
    height: 1px;
    width: 100%;
    background-color: var(--yellow_50_33);
    align-self: stretch;
  }
  
  .footer_contact-row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--space-md);
  }
  
  @media only screen and (max-width: 1050px) {
    .footer_contact-row {
      flex-direction: column;
    }
  }
  
  .footer_contact-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-lg);
    align-self: center;
    width: 26%;
  }
  
  @media only screen and (max-width: 1050px) {
    .footer_contact-info {
      width: 100%;
    }
  }

  .footer_contact-details {
    gap: var(--space-md);
    display: flex;
    align-self: stretch;
    flex-direction: column;
  }
  
  .footer_contact-methods {
    gap: var(--space-sm);
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  @media only screen and (max-width: 1050px) {
    .footer_contact-methods {
      width: 100%;
    }
  }
  
  .footer_contact-item {
    gap: var(--space-xs);
    display: flex;
    align-items: start;
  }
  
  .footer_contact-item--secondary {
    gap: var(--space-sm);
    display: flex;
    align-items: center;
  }
  
  .footer_contact-item--email {
    gap: var(--space-xs);
    display: flex;
    justify-content: start;
    align-items: start;
  }
  
  .footer_icon--email {
    height: 20px;
    width: 20px;
  }
  
  .footer_links-column {
    gap: 2px;
    display: flex;
    width: 66%;
    flex-direction: column;
    align-items: start;
  }

  .footer_links-row {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-item: start;
    gap: var(--space-md);
    @media only screen and (max-width:1050px) {
      flex-direction: column;
    }
  }

.footer_links-header {
  gap: var(--space-lg);
  display:flex;
  width: 46%;
  flex-direction: column;
  align-items: start;
  @media only screen and (max-width:1050px){
    width: 100%;
  }
}

  .footer_links-list {
    gap: 11px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: start;
  }

  .footer_newsletter-column {
    gap: var(--space-xl);
    align-self: center;
    display:flex;
    width: 42%;
    flex-direction: column;
    @media only screen and (max-width:1050px){
      width:100%;
    }
  }

  .footer_newsletter-header {
    padding-left: 4px;
    padding-right: 4px;
    gap: 16px;
    display: flex;
    flex-direction:column;
    align-item:start;
  }
  
  @media only screen and (max-width: 1050px) {
    .footer_links-column {
      width: 100%;
    }
  }
  
  .footer_newsletter-description {
    width: 100%;
    line-height: 22px;
  }
  
  .footer_newsletter-form {
    gap: var(--space-sm);
    display: flex;
    flex-direction: column;
  }
  
  .footer_newsletter-input {
    color: var(--main_cream) !important;
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
    height: 50px;
    border-radius: 24px !important;
    border: 1px solid var(--main_cream) !important;
  }
  
  .footer_newsletter-button {
    color: var(--main_brown) !important;
    padding-left: 34px;
    padding-right: 34px;
    background-color: var(--main_cream) !important;
    align-self: stretch;
    height: 52px;
    border-radius: 26px !important;
  }
  
  .footer_consultation-row {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-content:center;
    border-bottom: 1px solid var(--main_cream);
  }
  
  .footer_bottom-row {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    background-color: var(--main_darker);
    display: flex;
    justify-content: center;
  }
  
  .footer_copyright-row {
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: center;
  }
  
  @media only screen and (max-width: 1050px) {
    .footer_copyright-row {
      padding-left: var(--space-md);
      padding-right: var(--space-md);
    }
  }
  
  .footer_copyright-text {
    color: var(--main_brown) !important;
  }
  
  

  .user-profile_button {
    color: var(--main_brown) !important;
    margin-bottom: 32px;
    padding: 0 33px;
    background-color: var(--main_cream) !important;
    width: 100%;
    height: 52px;
    border-radius: 26px !important;
    border: 1px solid var(--main_cream);
}

.donation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.donation-input {
    width: 100%;
    text-color: var(--main_brown);
    padding: 0 10px;
    border: 1px solid var(--main_brown);
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
}

/* .add-to-cart-button {
    color: var(--main_cream) !important;
    background-color: var(--main_brown) !important;
    width: 100%;
    height: 40px;
    border-radius: 20px !important;
    border: 1px solid var(--main_brown);
} */

/* #donate-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; /* Space between input and button */
  /* padding: 0;
  width: auto;
} */ */

.add-to-cart {
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.currency-container {
  display: flex;
  align-items: center;
}

.donation-input {
  display: flex;
  align-items: center;
  border: 1px solid var(--main_brown);
  background-color: var(--main_cream);
  border-radius: 4px;
  padding: 0 8px;
  width: 100%;
}

.donation-input input {
  border: none;
  background: none;
  color: var(--main_brown);
  padding: 4px;
  flex: 1;
  text-align: right;
  width: auto;
}

.currency-symbol {
  font-size: 16px;
  font-weight: bold;
  color: var(--main_brown);
  margin-right: 8px;
}

.add-to-cart_button {
  color: var(--main_brown) !important;
  padding: 0 33px;
  width: 100%;
  height: 52px;
  border-radius: 26px !important;
}


.input-box {
  display: flex;
  padding: 15px 40px;
  background-color: var(--main_cream);
  border-radius: 26px !important;
  width:100%;
}

.input-box-1 {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  background-color: var(--main_cream);
  border-radius: 26px !important;
  width: 100%;
}

.currency-1 {
  color: var(--main_brown);
  padding-right: 10px;
}

.currency {
  color: var(--main_brown);
  padding-right: 10px;
  width:110px;
}

.input-box {
  color: var(--main_brown);
}

.input-box input::placeholder {
  color: var(--main_brown);
  width:150px;
}

.finalValue {
  width:200px;
}

.input-size {
  width: 50px;
  background-color: white;
  padding: 4px 0; 
  padding-left: 4px;
  border-radius: 3px;
}

.box-width {
  width: 200px;
}