/* Common CSS */

@font-face {
  font-family: "BergenSans-Regular";
  src: url("/fonts/BergenSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "P22 Mackinac Pro";
  src: url("/fonts/P22MackinacPro-Book_25.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'CoFo Sans VF';
  src: url('CoFoSans-Regular.eot');
  src: local('CoFo Sans'), local('CoFoSans-Regular'),
      url('CoFoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('CoFoSans-Regular.woff2') format('woff2'),
      url('CoFoSans-Regular.woff') format('woff'),
      url('CoFoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "CoFo Sans VF";
  src: url("/fonts/CoFoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.home_rowheadings_quote-span {
  font-weight: 400;
  font-style: italic;
}

.user-profile {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  width: 100%;
  background-color: var(--creamy_ivory);
  padding: var(--space-md);
  /* border-radius: var(--radius-sm); */
}

.user-profile_image {
  height: 214px;
  object-fit: cover;
  /* border-radius: var(--radius-xs); */
}

.user-profile_content {
  display: flex;
  flex-direction: column;
}

.user-profile_title {
  text-align: center;
  line-height: 26px;
  padding-bottom: 30px;
}

/* .user-profile_button {
  color: var(--main_brown) !important;
  margin-bottom: 32px;
  padding: 0 33px;
  background-color: var(--main_cream) !important;
  width: 100%;
  height: 52px;
  border-radius: 26px !important;
  border: 1px solid var(--main_cream);
} */

.header-button {
  display: block;
  color: var(--main_brown) !important;
  padding: 0 33px;
  background-color: var(--main_cream) !important;
  width: 149px;
  height: 52px;
  border-radius: 26px !important;
  border: 1px solid var(--main_cream);
}

@media (max-width: 768px) {
  .header-button {
    display: none;
  }
}

.footer_address {
  line-height: 22px;
}

.header_contact_icon {
  height: 16px;
  width: 16px;
}

.footer_link {
  color: var(--main_cream) !important;
}

/* Page CSS */

.home {
  width: 100%;
  background-color: var(--main_cream);
  overflow: hidden;
}

.columndonate {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

@media only screen and (max-width: 1050px) {
  .columndonate {
    gap: 75px;
  }
}

@media only screen and (max-width: 550px) {
  .columndonate {
    gap: 50px;
  }
}

.rowlayerone_one {
  height: 540px;
  position: relative;
  padding: 50px 0;
  background-color: var(--fiery_orange);
  /* background-image: url(../public/images/background.svg); */
  /* background-size: cover; */
  background-repeat: no-repeat;
}

.background-flex {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 18px;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (max-width: 1050px) {
  .rowlayerone_one {
    height: auto;
    padding: var(--space-md) 0;
  }
}

.columnlayerone {
  display: flex;
  flex-direction: column;
  gap: 43px;
  margin-bottom: 140px;
}

@media only screen and (max-width: 1050px) {
  .columnlayerone {
    gap: 79px;
  }
}

@media only screen and (max-width: 550px) {
  .columnlayerone {
    gap: 53px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  padding: 0 90px;
}

.main-logo {
  display: flex;
  background-color: var(--pale_cream);
  height: 41px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1050px) {
  .header {
    margin: 0;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 550px) {
  .header {
    flex-direction: column;
    padding: 0 20px;
  }
}

.header_logo {
  height: 51px;
  width: 138px;
  object-fit: contain;
}

@media only screen and (max-width: 550px) {
  .header_logo {
    width: 100%;
  }
}

.navigation-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xl);
  /* width: 24%; */
}

@media only screen and (max-width: 550px) {
  .navigation-row {
    display: none;
    padding: 0 var(--space-md);
  }
}

.header_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
  flex: 1;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-select {
  appearance: none;
  background-color: #953a57;
  color: var(--main_cream);
  font-family: "BergenSans-Regular";
  font-size: 16px;
  padding: 0 12px;
  width: 20%;
  height: 24px;
  border: none;
  border-radius: 0;
}

.dropdown-select::-ms-expand {
  display: none;
}

.dropdown-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  color: white;
  background: url("/public/images/img_layer_1.svg") no-repeat center;
  background-size: 24px 24px;
  pointer-events: none;
}

.header_language-dropdown {
  color: var(--main_cream);
  font-family: BergenSans-Regular;
  font-size: 16px;
  padding: 0 12px;
  width: 70px;
}

.row {
  display: flex;
  justify-content: center;
}

.header-text {
  color: white;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  max-width: 758px;
  margin-top: 30px;
}

.home_rowheadings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 56px;
}

@media only screen and (max-width: 1050px) {
  .home_rowheadings {
    padding: 0 var(--space-md);
  }
}

.home_rowheadings_quote {
  color: var(--experience_yellow) !important;
  text-align: center;
  width: 531px;
  line-height: 60px;
}

@media only screen and (max-width: 1050px) {
  .home_rowheadings_quote {
    width: 100%;
  }
}

.home-1 {
  padding: 0 138px;
  gap: 18px;
  display: grid;
  row-gap: 40px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (max-width: 1050px) {
  .home-1 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 var(--space-md);
  }
}

@media only screen and (max-width: 768px) {
  .home-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.column {
  padding: 88px 0;
  background-color: var(--bright_orange);
}

@media only screen and (max-width: 1050px) {
  .column {
    padding: 80px 0;
  }
}

.line-6 {
  background-color: var(--main_brown);
  width: 1160px;
  height: 1px;
}

footer {
  display: flex;
  padding: 0 138px;
  flex-direction: column;
  gap: 80px;
  background-color: var(--dark_brown);
}

@media only screen and (max-width: 1050px) {
  footer {
    gap: 60px;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 550px) {
  footer {
    gap: 40px;
    padding: 0 20px;
  }
}

.footer_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  margin-top: 54px;
  padding-bottom: 54px;
}

@media only screen and (max-width: 550px) {
  .footer_column {
    gap: 27px;
  }
}

.footer_column--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 60px;
}

@media only screen and (max-width: 550px) {
  .footer_column--main {
    gap: var(--space-xl);
  }
}

.footer_logo-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 56px;
}

@media only screen and (max-width: 1050px) {
  .footer_logo-column {
    padding: 0 var(--space-md);
  }
}

.footer_logo {
  height: 43.05px;
  width: 126.24px;
  object-fit: contain;
}

.footer_divider {
  height: 1px;
  width: 100%;
  background-color: var(--yellow_50_33);
  align-self: stretch;
}

.footer_contact-row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: var(--space-md);
}

@media only screen and (max-width: 1050px) {
  .footer_contact-row {
    flex-direction: column;
  }

  @media only screen and (max-width: 640px) {
    .footer_contact-row {
      gap: var(--space-lg);
    }
  }
}

.footer_contact-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-lg);
  align-self: center;
  width: 26%;
}

@media only screen and (max-width: 1050px) {
  .footer_contact-info {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .footer_contact-info {
    width: 100%;
    gap: var(--space-sm);
  }
}

.footer_contact-details {
  gap: var(--space-md);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

.footer_contact-methods {
  gap: var(--space-sm);
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media only screen and (max-width: 1050px) {
  .footer_contact-methods {
    width: 100%;
  }
}

.footer_contact-item {
  gap: var(--space-xs);
  display: flex;
  align-items: start;
}

.footer_contact-item--secondary {
  gap: var(--space-sm);
  display: flex;
  align-items: center;
}

.footer_contact-item--email {
  gap: var(--space-xs);
  display: flex;
  justify-content: start;
  align-items: start;
}

.footer_icon--email {
  height: 20px;
  width: 20px;
}

.footer_links-column {
  gap: 2px;
  display: flex;
  width: 66%;
  flex-direction: column;
  align-items: start;
}

.footer_links-row {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: var(--space-lg);
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.footer_links-header {
  gap: var(--space-lg);
  display: flex;
  width: 46%;
  flex-direction: column;
  align-items: start;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
  @media only screen and (max-width: 640px) {
    width: 100%;
    gap: var(--space-sm);
  }
}

.footer_links-list {
  gap: 11px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: start;
}

.footer_newsletter-column {
  gap: var(--space-xl);
  align-self: center;
  display: flex;
  width: 42%;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.footer_newsletter-header {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media only screen and (max-width: 1050px) {
  .footer_links-column {
    width: 100%;
  }
}

.footer_newsletter-description {
  width: 100%;
  line-height: 22px;
}

.footer_newsletter-form {
  gap: var(--space-sm);
  display: flex;
  flex-direction: column;
}

.footer_newsletter-input {
  color: var(--main_cream) !important;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  height: 50px;
  border-radius: 24px !important;
  border: 1px solid var(--main_cream) !important;
}

.footer_newsletter-button {
  color: var(--main_brown) !important;
  padding-left: 34px;
  padding-right: 34px;
  background-color: var(--main_cream) !important;
  align-self: stretch;
  height: 52px;
  border-radius: 26px !important;
}

.footer_consultation-row {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-content: center;
  border-bottom: 1px solid var(--main_cream);
}

.footer_bottom-row {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  background-color: var(--main_darker);
  display: flex;
  justify-content: center;
}

.footer_copyright-row {
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1050px) {
  .footer_copyright-row {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
}

.footer_copyright-text {
  color: var(--main_brown) !important;
}

.user-profile_button {
  color: var(--main_brown) !important;
  margin-bottom: 32px;
  padding: 0 33px;
  background-color: var(--main_cream) !important;
  width: 100%;
  height: 58px;
  border-radius: 26px !important;
  border: 1px solid var(--main_cream);
}

.donation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.donation-input {
  width: 100%;
  text-color: var(--main_brown);
  padding: 0 10px;
  border: 1px solid var(--main_brown);
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
}

/* .add-to-cart-button {
    color: var(--main_cream) !important;
    background-color: var(--main_brown) !important;
    width: 100%;
    height: 40px;
    border-radius: 20px !important;
    border: 1px solid var(--main_brown);
} */

/* #donate-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; /* Space between input and button */
/* padding: 0;
  width: auto;
} */

.add-to-cart {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.currency-container {
  display: flex;
  align-items: center;
}

.donation-input {
  display: flex;
  align-items: center;
  border: 1px solid var(--main_brown);
  background-color: var(--main_cream);
  border-radius: 4px;
  padding: 0 8px;
  width: 100%;
}

.donation-input input {
  border: none;
  background: none;
  color: var(--main_brown);
  padding: 4px;
  flex: 1;
  text-align: right;
  width: auto;
}

.currency-symbol {
  font-size: 16px;
  font-weight: bold;
  color: var(--main_brown);
  margin-right: 8px;
}

.add-to-cart_button {
  font-family: "BergenSans-Regular";
  color: var(--main_brown) !important;
  padding: 20px 0;
  width: 100%;
  height: 32px;
  border-radius: 26px !important;
}

.input-box {
  display: flex;
  padding: 13px 40px;
  background-color: var(--main_cream);
  border-radius: 26px !important;
  width: 100%;
  color: var(--main_brown);
  font-family: "BergenSans-Regular";
}

.input-box-1 {
  display: flex;
  align-items: center;
  padding: 13px 40px;
  background-color: var(--main_cream);
  border-radius: 26px !important;
  width: 100%;
}

.currency-1 {
  color: var(--main_brown);
  padding-right: 2px;
  font-family: "BergenSans-Regular";
}

.currency {
  color: var(--main_brown);
  padding-right: 10px;
  width: 110px;
  font-family: "BergenSans-Regular";
}

.input-box input::placeholder {
  color: var(--main_brown);
  width: 150px;
  font-family: "BergenSans-Regular";
}

.finalValue {
  width: 200px;
  font-family: "BergenSans-Regular";
  color: var(--main_brown);
}

.input-size {
  width: 50px;
  background-color: white;
  padding: 4px 0;
  padding-left: 4px;
  border-radius: 3px;
  font-family: "BergenSans-Regular";
  color: var(--main_brown);
}

.box-width {
  width: 200px;
}

@media (max-width: 640px) {
  .input-box-1 {
    padding: 15px 10px;
  }
}

@media (max-width: 640px) {
  .finalValue {
    width: 100px;
  }
}

@media (max-width: 640px) {
  .input-box,
  .input-box-1,
  .currency-1,
  .currency,
  .input-box input::placeholder,
  .finalValue,
  .input-size {
    font-size: 14px;
  }
}

/* faq section */

.accordion {
  overflow: hidden;
  width: 100%;
}

.accordion-item {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid white;
}

.accordion-header {
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-self: start;
  font-family: "BergenSans-Regular", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: white;
}

.accordion-header:hover {
}

.accordion-content {
  display: none; /* Hidden by default */
  padding: 15px 0;
  color: white;
  width: 85%;
  line-height: 22px;
}

.accordion-item.active .accordion-content {
  display: block; /* Visible when active */
}

.accordion-content p {
  margin: 15px 0;
}

/* .accordion-item.active .accordion-content {
  max-height: 400px;
  padding: 15px 0;
} */

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 76px;
}

@media only screen and (max-width: 1050px) {
  .faq-section {
    gap: 57px;
    padding: 0 var(--space-md);
  }
}

@media only screen and (max-width: 550px) {
  .faq-section {
    gap: 20px;
  }
}

.faq-section_headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  width: 42%;
}

@media only screen and (max-width: 1050px) {
  .faq-section_headings {
    width: 100%;
    text-align: center;
  }
}

.faq-section_description {
  color: white;
  align-self: stretch;
  line-height: 22px;
  text-align: center;
}

.faq-icon {
  width: 20px;
  height: 20px;
}
