@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url('/fonts/P22MackinacPro-Book_25.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_28pt-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'CoFo Sans VF';
  src: url('CoFoSans-Regular.eot');
  src: local('CoFo Sans'), local('CoFoSans-Regular'),
      url('CoFoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('CoFoSans-Regular.woff2') format('woff2'),
      url('CoFoSans-Regular.woff') format('woff'),
      url('CoFoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    /* line-height: normal; */
    margin: 0;
    padding: 0;
  }
  
  input {
    background-color: transparent;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    display: block;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  details {
    width: 100%;
  }
  
  details > summary {
    list-style: none;
  }
  
  [type="text"],
  input:not([type]),
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select,
  button {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
  
  input:focus-visible,
  [multiple]:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    outline: none;
  }
  