/*================================
=            TABLE OF CONTENTS            =
==================================
1. CSS Variables
2. Utility CSS
*/

/*=======================
=        CSS Variables       =
=========================*/
:root {
  /*------ Color variables ------*/
  --college_maroon: #953a57;
  --fiery_orange: #ce7234;
  --bright_orange: #dd9e43;
  --pale_cream: #e3e1ce;
  --creamy_ivory: #e9e3c6;
  --experience_yellow: #ffdf88;
  --main_brown: #5d2a29;
  --dark_brown: #51332a;
  --main_cream: #fffae3;
  --new_cream: #F3F3EB;

  --main_darker: #f7efcb;
  --pink_900: #84334d;
  --yellow_50_33: #fffae333;

  /*------ Border radius variables ------*/
  --radius-xs: 10px;
  --radius-sm: 20px;
  --radius-md: 24px;
  --radius-lg: 26px;

  /*------ Spacing variables ------*/
  --space-xs: 10px;
  --space-sm: 14px;
  --space-md: 20px;
  --space-lg: 28px;
  --space-xl: 30px;
  --space-2x1: 62px;
}

/*=======================
  =        Utility CSS         =
  =========================*/
.flex-col-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px 0;
}
